<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'assets/css/dist/foundation.min.css'
                'assets/css/dist/global.css'
            filter='cssrewrite' output='assets/css/dist/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% javascripts
            'assets/js/dist/jquery.min.js'
            'assets/js/dist/foundation.min.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascript %}{% endblock %}
    </body>
</html>
